@import 'reset.css';

body {
    background-color: #222;
    color: #eee;
    font-family: sans-serif;

    min-height: 100dvh;
    display: grid;
    justify-content: center;
    align-content: start;
    /* place-items: center; */
}

header {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* grid-template-rows: 1fr 1fr; */
    /* justify-items: center;
    align-content: start; */
    text-align: center;
}

.output {
    grid-column: 1 / 3;
    /* grid-row: 1 / 3; */
}

.options,
label {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
}

.same-line {
    flex-direction: row;
}

.panel {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: #eee;
    display: grid;
    place-items: center;

    & .element {
        background-color: #fff;
        width: 40%;
        aspect-ratio: 1 / 1;
    }
}