@import 'reset.css';

body {
    background-color: #222;
    color: #eee;
    font-family: sans-serif;

    min-height: 100dvh;
    display: grid;
    justify-content: center;
    /* place-items: center; */
}

.options {
    display: flex;
    flex-direction: column;
}